apiVersion: v1alpha1
kind: Setting
metadata:
  name: plugin-comment-widget-settings
spec:
  forms:
    - group: basic
      label: 基本设置
      formSchema:
        - $formkit: number
          label: 评论分页条数
          name: size
          validation: required
          value: 20
        - $formkit: number
          label: 回复分页条数
          name: replySize
          validation: required
          value: 10
        - $formkit: checkbox
          label: 同时加载评论的回复
          name: withReplies
          id: withReplies
          key: withReplies
          value: false
        - $formkit: number
          label: 同时加载回复的条数
          if: "$get(withReplies).value === true"
          name: withReplySize
          id: withReplySize
          key: withReplySize
          validation: required
          value: 5
        - $formkit: checkbox
          label: 显示评论者设备信息
          name: showCommenterDevice
          value: false
        - $formkit: checkbox
          label: 支持私密评论
          name: enablePrivateComment
          help: 开启之后，评论者可选是否私密评论
          value: false
    - group: security
      label: 安全设置
      formSchema:
        - $formkit: group
          name: captcha
          label: 验证码
          value:
            enable: false
            type: ALPHANUMERIC
          children:
            - $formkit: checkbox
              label: 匿名评论需要验证码
              name: anonymousCommentCaptcha
              id: anonymousCommentCaptcha
              key: anonymousCommentCaptcha
              value: false
            - $formkit: select
              label: 验证码类型
              if: "$get(anonymousCommentCaptcha).value === true"
              name: type
              id: type
              value: "ALPHANUMERIC"
              options:
                - label: 字母数字组合
                  value: "ALPHANUMERIC"
                - label: 算术验证码
                  value: "ARITHMETIC"
            - $formkit: number
              if: "$get(type).value === ALPHANUMERIC"
              name: captchaLength
              key: captchaLength
              label: 验证码长度
              help: 字母数字组合验证码长度，不宜过长或过短，建议4-6位
              max: 8
              value: 4
              validation: required
            - $formkit: radio
              if: "$get(type).value === ALPHANUMERIC"
              name: ignoreCase
              key: ignoreCase
              label: 是否忽略验证码大小写验证
              help: 忽略大小写验证码，建议开启
              value: true
              options:
                - label: 是
                  value: true
                - label: 否
                  value: false
            - $formkit: number
              if: "$get(type).value === ARITHMETIC"
              name: arithmeticRange
              key: arithmeticRange
              label: 计算范围
              help: 算术验证码计算范围
              value: 90
              validation: required
    - group: avatar
      label: 头像设置
      formSchema:
        - $formkit: checkbox
          label: 是否启用第三方头像
          name: enable
          id: enable
          key: enable
          value: false
        - $formkit: select
          label: 头像服务提供者
          if: "$get(enable).value === true"
          name: provider
          options:
            - label: "Gravatar"
              value: "gravatar"
          value: "gravatar"
        - $formkit: text
          label: 头像服务镜像地址
          if: "$get(enable).value === true"
          name: providerMirror
          value: ""
          help: 使用官方源则留空, 示例：https://gravatar.com
        - $formkit: select
          label: 头像策略
          if: "$get(enable).value === true"
          name: policy
          options:
            - label: "仅匿名用户"
              value: "anonymousUser"
            - label: "所有用户"
              value: "allUser"
            - label: "匿名&无头像用户"
              value: "noAvatarUser"
          value: "anonymousUser"
    - group: editor
      label: 编辑器
      formSchema:
        - $formkit: text
          name: placeholder
          label: 自定义评论框占位符
