.content {
  @apply text-text-1;
}

.content details,
.content figcaption,
.content figure {
  display: block;
}

.content summary {
  display: list-item;
}

.content a {
  background-color: transparent;
  text-decoration: none;
  @apply text-primary-1;
}

.content b,
.content strong {
  font-weight: 600;
}

.content mark {
  background-color: #fff8c5;
  @apply text-text-1;
}

.content sub,
.content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.content sub {
  bottom: -0.25em;
}

.content sup {
  top: -0.5em;
}

.content img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

.content code,
.content pre {
  font-family: monospace;
  font-size: 1em;
}

.content figure {
  margin: 1em 2.5em;
}

.content hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  height: 0.25em;
  padding: 0;
  margin: 1.4em 0;
  border: 0;
  @apply bg-muted-1;
}

.content a:hover {
  text-decoration: underline;
}

.content hr::before {
  display: table;
  content: "";
}

.content hr::after {
  display: table;
  clear: both;
  content: "";
}

.content details summary {
  cursor: pointer;
}

.content a:focus {
  outline: 2px solid;
  outline-offset: -2px;
  box-shadow: none;
  @apply outline-primary-1;
}

.content a:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.content a:focus-visible {
  outline: 2px solid;
  outline-offset: -2px;
  box-shadow: none;
  @apply outline-primary-1;
}

.content a:not([class]):focus,
.content a:not([class]):focus-visible {
  outline-offset: 0;
}

.content p {
  margin-top: 0;
  margin-bottom: 10px;
}

.content blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: 0.25em;
  border-style: solid;
  @apply text-text-1 border-muted-1;
}

.content ul,
.content ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.content ol ol,
.content ul ol {
  list-style-type: lower-roman;
}

.content ul ul ol,
.content ul ol ol,
.content ol ul ol,
.content ol ol ol {
  list-style-type: lower-alpha;
}

.content ul {
  list-style-type: disc;
}

.content ol {
  list-style-type: decimal;
}

.content code {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    "Liberation Mono",
    monospace;
  font-size: 12px;
}

.content pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    "Liberation Mono",
    monospace;
  font-size: 12px;
  word-wrap: normal;
}

.content::before {
  display: table;
  content: "";
}

.content::after {
  display: table;
  clear: both;
  content: "";
}

.content > *:first-child {
  margin-top: 0 !important;
}

.content > *:last-child {
  margin-bottom: 0 !important;
}

.content a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.content p,
.content blockquote,
.content ul,
.content ol,
.content dl,
.content pre,
.content details {
  margin-top: 0;
  margin-bottom: 1em;
}

.content blockquote > :first-child {
  margin-top: 0;
}

.content blockquote > :last-child {
  margin-bottom: 0;
}

.content ul ul,
.content ul ol,
.content ol ol,
.content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.content li > p {
  margin-top: 1em;
}

.content li + li {
  margin-top: 0.25em;
}

.content code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  border-radius: 6px;
  @apply bg-muted-3;
}

.content code br {
  display: none;
}

.content del code {
  text-decoration: inherit;
}

.content pre code {
  font-size: 100%;
}

.content pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
  color: #fff;
}

.content pre {
  padding: 1em;
  overflow: auto;
  font-size: 85%;
  border-radius: 6px;
}

.content pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.content summary:focus:not(:focus-visible),
.content a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.content > *:first-child > .heading-element:first-child {
  margin-top: 0 !important;
}
